@import "../../_variables.scss";

.carts {
  padding: 24px;
  .deleteAllBtn {
    padding: 8px 12px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 200ms;
    width: max-content;
    margin-bottom: 24px;
    color: $text-light;
    &:hover {
      color: $text;
    }
    &:active {
      color: $text-light;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    @media screen and (min-width: $lg) {
      grid-template-columns: 1fr 1fr;
    }
    .cart {
      margin: 24px 0px;
    }
  }
}
