$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1280px;

.carts {
  padding: 24px;
  .deleteAllBtn {
    padding: 8px 12px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 200ms;
    width: max-content;
    margin-bottom: 24px;
    &:hover {
      color: #000a;
    }
    &:active {
      color: #000e;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    @media screen and (min-width: $lg) {
      grid-template-columns: 1fr 1fr;
    }
    .cart {
      margin: 24px 0px;
    }
  }
}
