$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1280px;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #eee;
  @media screen and (min-width: $sm) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: $md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (min-width: $lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media screen and (min-width: $xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
