@import "../../_variables.scss";

.product {
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  @media screen and (min-width: $md) {
    flex-direction: row;
  }
  .imageBox {
    padding: 8px;
    display: flex;
    justify-content: center;
    @media screen and (min-width: $md) {
      padding: 24px;
    }
    .image {
      width: 200px;
      height: auto;
      object-fit: contain;
      @media screen and (min-width: $sm) {
        width: 240px;
      }
      @media screen and (min-width: $lg) {
        width: 330px;
      }
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $sm) {
      padding: 16px;
    }
    .title {
      font-size: 1rem;
      color: $text-dark;
      font-weight: 500;
    }
    .rowInMobile {
      display: flex;
      column-gap: 40px;
      @media screen and (min-width: $sm) {
        display: block;
      }
      .rating {
        margin: 16px 0px;
      }
    }
    .price {
      margin: 16px 0px;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}
