@font-face {
  font-family: "IranYekan";
  src: url("./fonts/eot/iranyekanwebregularfanum.eot");
  src: url("./fonts/eot/iranyekanwebregularfanum.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/woff/iranyekanwebregularfanum.woff") format("woff"),
    url("./fonts/ttf/iranyekanwebregularfanum.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  background-color: #f0f0ff;
}

body,
button,
input,
label,
small,
span,
div,
ul,
li,
th,
tr,
a,
::placeholder {
  font-family: IranYekan;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }
}
